.card{
    margin: 16px;
    padding: 8px;
    height: 260px;
    width: 200px;
    border-radius: 12px;
    box-shadow: inset 6px 8px 20px rgba(0, 0, 0, 0.1),
                inset -6px -4px 8px rgba(255 , 255, 255, 1);
}