*{
    font-size: 16px;
    font-weight: bold;
    font-family: calibri;
    text-align: center;
    color: #4b4040;
}

h2{
    font-size: 20px;
}

.wrapper{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-block;
}

.top,.bottom{
    padding: 14px;
    background: #fcfafa;
    box-shadow: -4px 6px 12px -4px rgba(0, 0, 0, 0.8);
    border-radius: 0.6em;
}

img{
    height: 320px;
    width:480px;    
}

i{
    z-index: 1;
    color: rgb(97, 94, 94);
}

.more{
    position: relative;
    top: -52px;
}

.bottom{
    text-align: center;
    margin: 0 auto;
    transition: 0.4s;
    z-index: -1;
    width: 76%;
    opacity: 0;
}

.top:hover{
    animation: jello-vertical 1.4s both;
}

.top:hover ~ .bottom{
    animation: bounce-top 0.9s 0.5s both;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-56px);
        animation-timing-function: ease-in;
    }
    24% { opacity: 0.48; }
    40% { 
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in;
    }
    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes jello-vertical {
    0% { transform: scale3d(1, 1, 1); }
    40% { transform: scale3d(1.12, 0.88, 1); }
    50% { transform: scale3d(0.88, 1.12, 1); }
    65% { transform: scale3d(1.02, 0.92, 1); }
    75% { transform: scale3d(0.92, 1.02, 1); }
    100% { transform: scale3d(1, 1, 1); }
}

.connection i{
    font-size: 22px;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.4s;
}

.connection i:hover{
    color: #1c1d1fd2;
    animation: connection-icon 0.6s both;
}

@keyframes connection-icon{
    0%{ transform: scale3d(1.1,1.1,1) rotate(16deg); }
    50%{ transform: scale3d(1.1,1.1,1) rotate(-16deg); }
    100%{transform: scale3d(1.1,1.1,1) rotate(0deg);}
}

